---
import Layout from "@/layouts/Layout.astro";
import HexCanvas from "@/modules/canvas/HexCanvas";
---

<Layout title="Hex Canvas - Herramentor">
    <div class="w-full">
        <HexCanvas client:load />
    </div>
</Layout>
