---
import Layout from "@/layouts/Layout.astro";
import HexCanvasComponent from "@/modules/canvas/HexCanvas";
---

<Layout title="Hex Canvas - Herramentor">
    <div class="w-full">
        <HexCanvasComponent client:load />
    </div>
</Layout>
